mixin categoriesWidget(categories, postsCount)
    div.container-fluid.mt-3
        div.card.mb-3.sidebar-widget
            div.card-header
                h5.card-title Categories
            div.card-body
                ul.list-group.list-group-numbered
                    each category in categories
                        li.list-group-item.d-flex.justify-content-between.align-items-start
                            div.ms-2.me-auto
                                    a.nav-link(href="/category/" + category.url)= category.name
                            span.badge.text-bg-primary.rounded-pill= postsCount

mixin tagsWidget(tags, postsCount)
    div.container-fluid.mt-3
        div.card.mb-3.sidebar-widget
            div.card-header
                h5.card-title Tags
            div.card-body
                ul.list-group.list-group-numbered
                    each tag in tags
                        li.list-group-item.d-flex.justify-content-between.align-items-start
                            div.ms-2.me-auto
                                a.nav-link(href="/tag/" + tag.url)= tag.name
                            span.badge.text-bg-primary.rounded-pill= postsCount


mixin latestPostsWidget(posts)
    div.container-fluid.mt-3
        div.card.mb-3.sidebar-widget
            div.card-header
                h5.card-title Latest posts
            div.card-body
                ul.list-group.list-group-numbered
                    each post in posts
                        li.list-group-item.d-flex.justify-content-between.align-items-start
                            div.ms-2.me-auto
                                a.nav-link(href="/post/" + post.url)= post.title


mixin shortPostWidget(post)
    div.card
        div.card-header
            div.row
                div.col-6
                    div.list-group-item
                        i.bi.bi-person
                            span.mx-1
                                a(href='/author/' + post.author.name)= post.author.name
                div.col-6.d-flex.justify-content-end
                    i.bi.bi-calendar-day
                        span.mx-2= post.createdAt
        div.card-body
            h4.card-title.text-center.mb-3
                a(href='/post/' + post.url)= post.title
            p.card-text= post.description
            a.btn.btn-primary(href='/post/' + post.url) Read post
        div.card-footer.text-body-secondary
            div.row
                div.col-6
                    div.list-group.list-group-horizontal
                        each category in post.categories
                            div.list-group-item
                                i
                                    span.mx-1
                                        a(href='/category/' + category.url)= category.name
                div.col-6.d-flex.justify-content-end
                    div.list-group.list-group-horizontal
                        each tag in post.tags
                            div.list-group-item
                                i.bi.bi.bi-tag
                                    span.mx-1
                                        a(href='/tag/' + tag.url)= tag.name


mixin pagination(pages)
    nav
        ul.pagination
            li.page-item
                a.page-link(href="#") Previous
            each page in pages
                li.page-item
                    a.page-link(href="" + page.url)= page.label
            li.page-item
                a.page-link(href="#") Next

